# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

Assignment 1: Creating and Accessing Tuples

* Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tup =(1,2,3,4,5,6,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements

* Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(tup[0])
print(tup[len(tup)//2])    # For even length, this gives the right-middle element that's why it give 6
print(tup[-1])

1
6
10

Assignment 3: Tuple Slicing

* Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [12]:
print(tup[:3])
print(tup[-3:])
print(tup[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

Assignment 4: Nested Tuples

* Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [13]:
nested_tup =[[1,2,3],[4,5,6],[7,8,9]]

print("Element at 2nd row 3rd column is : ",nested_tup[1][2])

Element at 2nd row 3rd column is :  6

Assignment 5: Tuple Concatenation

* Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
a =(1,2,3)
b =(4,5,6)

print(a + b)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods

* Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple

In [24]:
a =(1,2,3,4)* 2
# print("Tuple is: ",a)
print("Duplicate the tuple",a*2)
print("Count occurance of element: ",a.count(4))
print(a.index(4))

Duplicate the tuple (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
Count occurance of element:  2
3

Assignment 7: Unpacking Tuples

* Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [26]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5


Assignment 8: Tuple Conversion

* Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [27]:
lst = [1,2,3,4,5]
print("this is list: ",lst)

# Converting list to tuple 
tpl = tuple(lst)

print("This become tuple: ",tpl)

this is list:  [1, 2, 3, 4, 5]
This become tuple:  (1, 2, 3, 4, 5)

Assignment 9: Tuple of Tuples

* Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tpl = ((12,33,44),(44,22,44),(23,54,65))
print(tpl)

((12, 33, 44), (44, 22, 44), (23, 54, 65))

Assignment 10: Tuple and List

* Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [30]:
tup = (1,2,3,4,5)
print("Fist it is tuple",tup)
lst = list(tup)
print("Converted it to list: ",lst)
lst.append(6)
print("Appended a value 6 in it: ",lst)
tup = tuple(lst)
print("Convert back into tuple: ",tup)

Fist it is tuple (1, 2, 3, 4, 5)
Converted it to list:  [1, 2, 3, 4, 5]
Appended a value 6 in it:  [1, 2, 3, 4, 5, 6]
Convert back into tuple:  (1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [31]:
tup =('a','b','c','d')
str_join = tup[0]+tup[1]+tup[2]+tup[3]

print(str_join)

abcd


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [35]:
dict = {
    ("Age","Age"):23,
    ("height","height"):34,
    ("bmi","bmi"):22
}

print(dict)

{('Age', 'Age'): 23, ('height', 'height'): 34, ('bmi', 'bmi'): 22}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [43]:
tup = ((1,2,3),
       (4,5,6),
       (7,8,9))

for i in tup:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [45]:
tup = (1,1,2,4,2,4,3,3)
print("tuple: ",tup)

sett = set(tup)
print(sett)

tuple:  (1, 1, 2, 4, 2, 4, 3, 3)
{1, 2, 3, 4}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [56]:
def func(tup):
    return max(tup),min(tup),sum(tup)

tup =tuple([1,2,3,4,5])
sample_tup = func(tup)
print(sample_tup)

print("Min",sample_tup[0])
print("Max",sample_tup[1])
print("Sum",sample_tup[2])

(5, 1, 15)
Min 5
Max 1
Sum 15

4