# Variables 
* Variables are fundamental Element in programming used to store data that can be referenced and manipulated in a program. 

* In Python Variables are created when you assign a value to them, and they donot need any explicit declaration to reserve memory space. 

* The declaration happen atomatically when you assign a value to a variable.

Outline we cover here are:
* Introduction to Variables
* Declaring and Assigning Variables
* Naming Conventions
* Understanding Variable Types
* Dynamic Typing 
Practical Examples and Common Errors

In [2]:
# Declaring and Assigning Variables
age = 22
height =5.9
name='Shoaib'
is_student=True

## Printing the variables

print("age: ",age)
print("height: ",height)
print("name: ",name)

age:  22
height:  5.9
name:  Shoaib

## Naming Conventions
* Variable Name should be descriptive
* They must always start with a letter or underscore (_)  and contains letters, numbers and underscores
* variables names are case sensitives

In [3]:
## Naming Conventions

# Valid Variable Names

first_name = "Shoaib"
last_name = "Muhammad"

In [ ]:
# Invalid Variables Names

#   2age = 22    --> it start with number 
#   first-name ="Shoaib"   ->> it has symbol - 
#   @name = "shoaib"     --> it start with @ symbol

In [ ]:
# Case Sensitivity
name = "shoaib"
Name = "Muhammad"

name ==Name     # it gives false because it these are different variables

False

### Understanding Variables types

In [ ]:
# Python is dynamically typed : It mean that the type of variable is \
                                # determined at run time
age = 23  # integer
height = 5.9  # float
name = "Shoaib"  # String
is_student = True # bool


print(type(is_student))    # to check the type of variable

<class 'bool'>

### Type Checking and Conversion

In [8]:
type(height)

float

In [9]:
# to convert one data type into another data type

age = 55
print(age)
print(type(age))

# Type conversion

# we convert this age into string 
age_str = str(age)
print(age_str)
print(type(age_str))

55
<class 'int'>
55
<class 'str'>

In [ ]:
# can we are able to convert string to integer
age = '33'    # here inside quotation their is a valid numeric number so we can convert 
print(age)
print(type(age))


age = int(age)
print(age)
print(type(age))

33
<class 'str'>
33
<class 'int'>

In [14]:
# Can we convert all strings into Number 
#    The answer is NO

name  = "Pakistan"    # we can't convert because it has no valid numeric number inside ''
# int(name)

In [16]:
# Converting float into integer 

height = 5.9
print(height)
print(type(height))

print('-'*20)
# Casting 
height = int(height)
print(height)
print(type(height))

5.9
<class 'float'>
--------------------
5
<class 'int'>

In [17]:
# Type Casting from int to float 
marks = 40
print(marks)
print(type(marks))

print('-'*20)

marks = float(marks)
print(marks)
print(type(marks))

40
<class 'int'>
--------------------
40.0
<class 'float'>

### Dynamic Typing
* Python alows the type of variable to change as the program executes

In [18]:
## Dynamic typing
## Python alows the type of variable to change as the program executes
var = 10 # int
print(var,type(var))

var = 'hello'
print(var,type(var))

var = 3.4
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.4 <class 'float'>

In [22]:
## input 
# we want from user to enter input
user = input('Enter Numer please')
print(user)
print(type(user))    # even if we enter number the input function convert its type into string

3
<class 'str'>

In [23]:
# if we want to get the number in integer form
user = int(input('Enter input please'))
print(user,type(user))

3 <class 'int'>

# Let's Create a Simple Culculator

In [24]:
num1 = float(input("Enter First Number"))
num2 = float(input('Enter Second Number'))

# operation in calculator (+,-,/,x)

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ",sum)
print("difference: ",difference)
print("product: ",product)
print("quotient: ",quotient)

Sum:  7.0
difference:  -1.0
product:  12.0
quotient:  0.75

## Interview Questions

In [ ]:
x=5
y=x
x=10
print(y)    # Because y gets the value of x (5) before x changes.

5

In [ ]:
#

####Question 

 x = y = z = 100
* print(x, y, z)
* A. 100 100 100
* B. 100 0 0
* C. Error
* D. None

In [ ]:
x = y = z = 100
print(x,y,z)      # Multiple assignment gives all variables the same value.

100 100 100

7. Which function is used to check the data type of a variable?

* A. datatype()
* B. type()
* C. typeof()
* D. isType()

✅ Answer: B — type()

In [6]:
x = 3
type(x)

int

8. What happens if you try to use a variable before assigning it?

* A. It gives 0
* B. It gives None
* C. It raises a NameError
* D. It automatically assigns a default value

✅ Answer: C — NameError

In [ ]:
a = b
print(a)    # Python won’t let you use a variable that hasn’t been defined.

NameError: name 'b' is not defined

9. What is the output of the following code?

x, y = 5, 10

x, y = y, x

print(x, y)

Answer: B — 10 5

In [10]:
x,y =5,10
x,y = y,x
print(x,y)

10 5

10. Which statement about variable scope is true?

* A. Variables declared inside a function are global.
* B. Variables declared outside any function are local.
* C. Variables declared inside a function are local by default.
* D. Python has no concept of variable scope.

Answer: C