# **DataTypes**

## 1.Definition:
* Data Types are the classification of data which tell the compiler or interpreter how the programmer intends to use the data
* They determine the types of operations that can be performed on the data, the values that the data can take, and the amount memory needed to store the data.

* **What types of data programmer wants to store.**
* **On basis of data types we find what types of operations we can apply on it.**
* **Also, we can find how much memory it takes**

### 2. Importance of Data Types in Programming

#### Explanation
* Data Types ensure that data is stored in an efficient way.
* They help in performing correct operations on data.
* Proper use of data types can prevent errors and bugs in the program.

In [3]:
## Integer Example

marks = 33
type(marks)

int

In [4]:
## Floating Point data types
height = 5.9
print(height)
print(type(height))

5.9
<class 'float'>

In [5]:
## String data types example
name = "Shoaib"
print(name)
print(type(name))

Shoaib
<class 'str'>

In [6]:
## Boolean Data Types
type(True)

bool

In [7]:
is_true=True
print(type(is_true))

<class 'bool'>

In [9]:
bool()    # When we define a bool, by default it is False

False

In [10]:
a=2
b=2

type(a==b)

bool

## **Common Errors**

In [ ]:
result = "hello" +4     # this gives us an error

TypeError: can only concatenate str (not "int") to str

In [13]:
# to fix the above error
result = "hello" + str(4)
result

'hello4'

# **Interview MCQS**

What is the output?

a = 256

b = 256

print(a is b)


* A. True
* B. False
* C. Implementation-dependent
* D. Raises Error

Answer: A

Explanation: Small integers [-5, 256] are interned in Python, so a and b reference the same object.

In [14]:
a=256
b=256

print(a is b)

True

Now consider:

a = 257

b = 257

print(a is b)


* A. True
* B. False
* C. None
* D. Implementation-dependent

Answer: B

Explanation: Values outside the interning range are separate objects, even if numerically equal.

In [15]:
a = 257
b = 257
print(a is b)

False

What is the output?

x = 0.1 + 0.2

print(x == 0.3)


* A. True
* B. False
* C. Raises Error
* D. None

Answer: B

Explanation: Floating-point arithmetic causes precision issues → result is 0.30000000000000004.

In [16]:
x=0.1 +0.2
x

0.30000000000000004

In [17]:
x ==0.3

False

What’s the type of b?

from fractions import Fraction

b = Fraction(1, 3) + 2


* A. float
* B. int
* C. Fraction
* D. complex

Answer: C

Explanation: int is converted to Fraction during addition.

In [18]:
from fractions import Fraction
b = Fraction(1,3) + 2
type(b)

fractions.Fraction

What will this produce?

a = (1,)

b = (1)

print(type(a), type(b))


* A. <class 'tuple'> <class 'tuple'>
* B. <class 'tuple'> <class 'int'>
* C. <class 'int'> <class 'tuple'>
* D. Both are <class 'int'>

Answer: B

Explanation: (1,) defines a tuple; (1) is just an integer in parentheses.

Given:

a = [1, 2, 3]

b = a

b += [4, 5]

print(a)

* A. [1, 2, 3]
* B. [1, 2, 3, 4, 5]
* C. Raises Error
* D. [4, 5]

Answer: B

Explanation: += modifies the list in place; both a and b refer to the same object.

In [19]:
a = (1, 2)
b = a
b += (3, 4)
print(a)

(1, 2)

Now compare:

a = (1, 2)

b = a

b += (3, 4)

print(a)


* A. (1, 2)
* B. (1, 2, 3, 4)
* C. Raises Error
* D. Implementation-dependent

Answer: A

Explanation: Tuples are immutable; b += (3, 4) creates a new tuple, leaving a unchanged.

What is the output?

print(True + True + False)


* A. 2
* B. 1
* C. True
* D. Raises TypeError

Answer: A

Explanation: bool is a subclass of int; True == 1, False == 0.