# **Introduction to Lists**

* Lists are ordered, mutable collection of items.
* They can contain items of different data types.

`Lists are ordered mean that the items in lists follow a specific sequence and each item has an index`

### **Outlines**

1. Introduction to lists
2. Creating lists
3. Accessing List Elements
4. Modifying list Elements
5. List Methods
6. Slicing lists
7. Iterating Over lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

### **Creating List**

* Creating List Using Square Brackets [ ]

In [ ]:
# Defining list
lst = []
print(lst)    # this is an empty list
print(type(lst))

[]
<class 'list'>

In [7]:
# creating list having elements
names = ['shoaib','akram','munir',1,3,4]
print(names)

['shoaib', 'akram', 'munir', 1, 3, 4]

In [8]:
# mixed list 
mixed_list = ['peshawar',23,3.4]
print(mixed_list)

['peshawar', 23, 3.4]

#### **Accessing Lists Items**

In [22]:
fruits = ["apple","mango","orange","guava","kiwi","watermelon"]

# to access elements we use indexing
fruits[0]

'apple'

In [23]:
fruits[2]

'orange'

In [24]:
fruits[3]

'guava'

In [26]:
fruits[2:4]

['orange', 'guava']

In [ ]:
# to access from last we use negative indexing

fruits[-1]    # last element

'watermelon'

In [31]:
# to get all fruits from mango onward
fruits[1:]

['mango', 'orange', 'guava', 'kiwi', 'watermelon']

In [33]:
fruits[-1:]

['watermelon']

### Modifying list elements

In [34]:
fruits

['apple', 'mango', 'orange', 'guava', 'kiwi', 'watermelon']

In [35]:
# to replace mango with cheery
fruits[1]='cheery'

In [36]:
fruits

['apple', 'cheery', 'orange', 'guava', 'kiwi', 'watermelon']

### **List Methods**

In [ ]:
fruits.append("banana")   # append can add the item at the end

In [38]:
fruits

['apple', 'cheery', 'orange', 'guava', 'kiwi', 'watermelon', 'banana']

In [ ]:
# to place in a particular index we had to use `insert`

fruits.insert(1,"graphs")   # it will add graphs in index 1

In [40]:
fruits

['apple',
 'graphs',
 'cheery',
 'orange',
 'guava',
 'kiwi',
 'watermelon',
 'banana']

In [41]:
# we add any fruit which is already in the list 
fruits.append("banana")

In [42]:
fruits

['apple',
 'graphs',
 'cheery',
 'orange',
 'guava',
 'kiwi',
 'watermelon',
 'banana',
 'banana']

In [ ]:
# to remove banana which is has occur twice
fruits.remove("banana")    # it remove the first occurance of banana

In [44]:
print(fruits)

['apple', 'graphs', 'cheery', 'orange', 'guava', 'kiwi', 'watermelon', 'banana']

In [46]:
# we can get the index of any item also
print(fruits.index("banana"))

7

In [47]:
fruits.index("apple")

0

In [48]:
# to count the number of occurance of an item
fruits.count("banana")

1

In [50]:
# We can also sort the list also by default sort() function arange them in ascending order

fruits.sort()

In [ ]:
fruits  # this is sorted in ascending order

['apple',
 'banana',
 'cheery',
 'graphs',
 'guava',
 'kiwi',
 'orange',
 'watermelon']

In [52]:
# to reverse the list elements

fruits.reverse()

In [53]:
fruits

['watermelon',
 'orange',
 'kiwi',
 'guava',
 'graphs',
 'cheery',
 'banana',
 'apple']

In [ ]:
fruits.sort(reverse=True)    # if we pass the reverse parameter it aranage in descending order

In [57]:
fruits

['watermelon',
 'orange',
 'kiwi',
 'guava',
 'graphs',
 'cheery',
 'banana',
 'apple']

In [58]:
fruits.extend("A")

In [59]:
fruits

['watermelon',
 'orange',
 'kiwi',
 'guava',
 'graphs',
 'cheery',
 'banana',
 'apple',
 'A']

In [60]:
# to clear an intire list we use clear()

fruits.clear()

In [ ]:
fruits   # you can see now it is empty

[]

### **Slicing Lists**

* Slicing allows you to access a **range of elements** in a list.

* The syntax is `list[start:end]`, 
 
* where the *start index is inclusive* and the *end index is exclusive*. Omitting the start or end will default to the beginning or end of the list

In [63]:
## Slicing list
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[2:5])
print(numbers[4:5])
print(numbers[3:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[5]
[4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
# double colon mean all the elements
numbers[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
numbers[::1]  # 1 represent the step size , it

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers[::-3]  # after each third element we want to prrint

[9, 6, 3]

In [68]:
numbers[::-2]

[9, 7, 5, 3, 1]

In [70]:
## Iterating over list
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9

# `enumerate()`
**If i want to Iterate a list with elements i want to get index also then i use enumerate() function for this**

In [73]:
for index,number in enumerate(numbers):
    print(index," ",number)

0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9

## `List Comprehensions` 
* List comprehension is a short and simple way to create a new list by looping over something and optionally adding conditions.

In [74]:
# With Out list comprehension To Square list of number 

list = [1,2,3,4,5]

square_list = []
for item in list:
    
    square_list.append(item**2)
    
print(square_list)

[1, 4, 9, 16, 25]

The basic syntax is:

`[expression for item in iterable]`

In [ ]:
# Using list Comprehension we Square list of number

square_list = [item**2 for item in list]     # We do the same task so effectively
print(square_list)

[1, 4, 9, 16, 25]

#### List Comprehension with Condition

* You can also add a condition:


`[expression for item in iterable if condition]`

In [79]:
list

[1, 2, 3, 4, 5]

In [80]:
square_even =[]
for item in list:
    if item %2==0:
        square_even.append(item**2)
print(square_even)

[4, 16]

In [77]:
# Square all the even number from the list only

[item**2 for item in list if item%2==0]

[4, 16]

Nested List Comprehension

`[expression for item1 in iterable1 for item2 in iterable2]`

In [81]:
list1 = [1,2,3,4]
list2 =['a','b','c','d']
[(i,j) for i in list1 for j in list2]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (1, 'd'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (2, 'd'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (3, 'd'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c'),
 (4, 'd')]

In [82]:
# Using build in function with List Comprehension

words =['hello','pakistan','Man','Kind']

# i want to make a list which contain the len of each of the word in above list
[len(word) for word in words]

[5, 8, 3, 4]

List Comprehension with else Block also:

`[expression if condidion else expression for i in iterables]`

Or
 
`[new_value_if_true if condition else new_value_if_false for item in iterable]`

In [ ]:
salaries= [200,300,100,150,260,210,400]

# make a list of employess and assign them rich if their salary is greater then 250 other wise consider them poor

['Rich' if salary >= 250 else 'Poor' for salary in salaries]

['Poor', 'Rich', 'Poor', 'Poor', 'Rich', 'Poor', 'Rich']

## Conclusion
* List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code. Practice is essential to master these concepts.

# **Key Takeaways**

* Lists in Python are ordered, mutable collections that can hold items of different data types.

* List elements can be accessed and modified using indexing and slicing techniques.
* Python provides several built-in list methods such as append, insert, remove, pop, index, count, sort, reverse, and clear for efficient list manipulation.
* List comprehensions offer a concise and powerful way to create and transform lists, including support for conditions and nested iterations.

# **Top 15 Python List Interview Questions**

1. What is a list in Python?

* A list is a mutable, ordered collection of items. It can store elements of different data types.

3. What is the difference between a list and a tuple?

* List: mutable, defined with []

* Tuple: immutable, defined with ()

6. How do you add elements to a list?

* append() → adds to the end
* insert(index, value) → adds at a specific position
* extend() → adds multiple elements

4. How do you remove elements from a list?

* remove(value)

* pop(index)

* del list[index]

11. How do you sort a list?

* list.sort() → sorts in-place
* sorted(list) → returns new sorted list

13. What is the difference between append() and extend()?

* append() adds the whole object as a single element.
* extend() adds each element individually.