# **Sets**
* Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

#### 1- Creating a set

In [3]:
## we use curly braces to create a set
first_set = {1,2,3,4}
print(first_set)
print(type(first_set))

{1, 2, 3, 4}
<class 'set'>

In [5]:
empty_set =set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [ ]:
my_set = set([1,2,3,4,5,6])    # this is creating set but it also doing conversion of list into set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [7]:
## Sets remove the duplicate elements

remove_duplicate = set([2,2,2,2,5,4,6])
print(remove_duplicate)

{2, 4, 5, 6}

#### 2- Basic set operations

In [ ]:
## 1- Adding and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)    # it ignore it because in sets only unique value store not duplicate

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
## Removing element from set
print(my_set)
my_set.remove(3)    # 3 is removed from the set
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

* Remove(item) , It can be used at that time when we want to remove an element if exist, but, it item not exist it raise error

In [ ]:
my_set.remove(8)    # as you can see here

KeyError: 8

* discard() , If we want that even if the element is not present in the set , we don't want to show an error then we use discard() function it remove the element if exist and do nothing if the element not exist

In [15]:
my_set.discard(8)   # 8 is not present, that's why it ignore it not give an error
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
## pop method in set
removed_element = my_set.pop()   # it remove the first element from the set
print(removed_element)
print(my_set)

2
{4, 5, 6, 7}

In [18]:
## to clear all the element 
my_set.clear()

In [19]:
print(my_set)

set()

#### 3- Membership Test
* Is used whether the number is present or not in the set

In [ ]:
seta = {1,2,3,4,5,6,6,8,9}
setb = {8,9,10,11}
print(3 in my_set)
print(88 in my_set)


### Uniion 
union_set = seta.union(setb)
intersection_set = seta.intersection(setb)




print("Union of sets:" ,union_set)

True
False
Union of sets: {1, 2, 3, 4, 5, 6, 8, 9, 10, 11}
Intersection of sets: {1, 2, 3, 4, 5, 6, 8, 9, 10, 11}
 of sets: {1, 2, 3, 4, 5, 6, 8, 9, 10, 11}
Union of sets: {1, 2, 3, 4, 5, 6, 8, 9, 10, 11}

#### 4-Mathematical Operation

In [32]:
seta = {1,2,3,4,5,6,6,8,9}
setb = {8,9,10,11}

# intersection
intersection = seta.intersection(setb)

print("Intersection of sets:" ,intersection)

seta.intersection_update(setb)
print("intersection update of sets:" ,seta)

Intersection of sets: {8, 9}
intersection update of sets: {8, 9}

##### Intersection update
* In intersection update what ever the result come in intersection that replace the values of set1

In [34]:
set1= {1,2,3,4,5,6,6,8,9}
set2 = {8,9,10,11}

##  Difference operation

print(set1.difference(set2))

{1, 2, 3, 4, 5, 6}

In [35]:
## we have another operation dfference_update 

set1.difference_update(set2)

In [36]:
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
## if i have to remove the common element from set2 

set2.difference(set1)  # remove all that element which contain in set1

{8, 9, 10, 11}

In [ ]:
## Symmetric difference 

set1.symmetric_difference(set2)   # symmetric difference give both the unique values present in both sets

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11}

#### 5-Sets Methods

In [42]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6}

## is subset 

##  A is called super set mean all the element of of B must be in A 
## B is called a supset if A has its all the element

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

#### To remove the duplicate values from a list we can simple use set

In [43]:
lst = [1,2,2,3,4,5,3]

print(set(lst))

{1, 2, 3, 4, 5}

In [47]:
### Counting unique words in text

text = "This is the class i am taking, it is not boring"

words = text.split()
print("Words are: ",words)
print(len(words))

## Convert list of words to set to get unique words
unique_words = set(words)

print("Unique words are: ",unique_words)
print(len(unique_words))

Words are:  ['This', 'is', 'the', 'class', 'i', 'am', 'taking,', 'it', 'is', 'not', 'boring']
11
Unique words are:  {'am', 'taking,', 'it', 'boring', 'not', 'is', 'i', 'class', 'This', 'the'}
10