# **Conditional Statement**
A conditional statement in Python (or in programming generally) is a statement that executes certain actions only when a specific condition is true.

In [ ]:
## if statement --> execute when the condition is True
age = 20 
if age >=18:
    print("You are allowed to vote in election")

You are allowed to vote in election

In [2]:
## else statement 
if age<=18:
    print("You are not allowed to vote")
else:
    print("You can vote on your choise")

You can vote on your choise

In [3]:
## elif statement mean else if 
## it is used for multiple condition

marks =40
if marks <33:
    print("Fail")
elif marks <50:
    print("You just pass the exam")
else:
    print("congratulation you got")

You just pass the exam

In [ ]:
## Nested Conditional statement 
### when we write conditional statement inside another conditional statement that is known as nested if

# You can place one, or more if, elif, or else statements inside another if, elif, or else statements in a statement
gender = 'M'
age =30

if gender =="M":
    if age > 20:
        print("Mature Male Person")
    else:
        print("Not Mature")
else:
    if age >20: 
        print('Mature')
    else:
        print("Not Mature")

Mature Male Person

In [3]:
### Practical Examples 

## Determine whether the year is a leap year 

year = int(input("Enter Year: "))

if (year % 4==0):
    if (year % 100 !=0):
        print(f"The year {year} is a Leap year")
    else:
        print("the year is not a Leap year")
else:
    print("Year is not a Leap year")

The year 2024 is a Leap year

## **Simple Calculator**

In [6]:
# take two input from user num1 and num2 
num1 = float(input("Enter First Number: "))
num2 = float(input("Enter Second Number: "))

# take an operator from user as input
operator = input("Enter operator (+,-,/,*): ")

# write conditions execute that only which match
if operator =="+":
    sum = num1 + num2
    print(sum)
elif operator =="-":
    diff = num1 - num2
    print(diff)
elif operator =="*":
    prod = num1/num2
    print(prod)
elif operator=="/":
    if num2!=0:
        quot = num1/num2
        print(quot)
    else:
        print('It gives an undefined number')
else:
    print("You enter incorrect Operator. Please try again")
print()

It gives an undefined number

##### Determine the ticket price based on the age and whether the person is a student.

# **Interview Question on Conditional Statement**

### What is the ternary (conditional) operator in Python?

In [8]:
# check the number is positive or negative 
num = 3
result = "Positive" if num>0 else "Negative"
print(result)

Positive

#### List comprehensions

In [18]:

numbers = [2024,1964,2022,5,6,7]

even = [x for x in numbers if x %2==0]
even

[2024, 1964, 2022, 6]

In [17]:
odd = [x for x in numbers if x%2!=0]
odd

[5, 7]

In [19]:
[i for i in numbers if (i%4==0 and i%100!=0) ]

[2024, 1964]

In [20]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = []

[i for x in matrix for i in x ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Using a list comprehension, generate a list of squares of even numbers between 1 and 20 that are not divisible by 4.

In [27]:
[i**2 for i in range(1,11) if i %2==0 and i %4 !=0]

[4, 36, 100]

In [28]:
square_of_even = [i**2 for i in range(1,11) if i %2==0]
square_of_even

[4, 16, 36, 64, 100]

In [31]:
["even" if i %2==0 else "odd" for i in range(1,10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

##### If you have a column which has labels in numeric for then you can use list comprehension to mapp them

In [32]:
labels = [1,0,1,1,1,0,0,0,0,1,1,0,1,1,0]


["survived" if i==1 else "non survived" for i in labels]

['survived',
 'non survived',
 'survived',
 'survived',
 'survived',
 'non survived',
 'non survived',
 'non survived',
 'non survived',
 'survived',
 'survived',
 'non survived',
 'survived',
 'survived',
 'non survived']

### Create a list of even numbers only

In [33]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[i for x in matrix for i in x if i %2==0]

[2, 4, 6, 8]

Question:
Flatten the matrix and return the square of even numbers only, else return the number itself.

In [34]:
[i**2 if i %2==0 else i for x in matrix for i in x ]

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [35]:
a = [3,4,5,None]
a

[3, 4, 5, None]

#### We can use it to fill missing values

In [37]:
["missing" for i in a if i ==None]

['missing']

In [38]:
words = ["apple", "banana", "cherry"]
[set(word) for word in words]

[{'a', 'e', 'l', 'p'}, {'a', 'b', 'n'}, {'c', 'e', 'h', 'r', 'y'}]

In [39]:
set("hello")

{'e', 'h', 'l', 'o'}

Question:

Given a list of dictionaries, extract the names of employees with salary > 50,000.

employees = [

    {"name": "Alice", "salary": 60000},

    {"name": "Bob", "salary": 48000},

    {"name": "Charlie", "salary": 52000}
    
]

In [41]:
employees = [
    {"name": "Alice", "salary": 60000},
    {"name": "Bob", "salary": 48000},
    {"name": "Charlie", "salary": 52000}
]

[i['name'] for i in employees if i['salary']>50000]

['Alice', 'Charlie']

In [43]:
def square(n):return n * n
nums = range(1, 11)

In [47]:
result = [square(n) for n in nums if n % 3 == 0]
result

[9, 36, 81]