# Loops

## Outline:
#### 1.Introduction to Loops
#### 2.for Loop
* Iterating over a range 
* Iterating over a string
#### 3.while Loop
#### 4.Loop Control Statements
* break
* continue
* pass
#### 5.Nested Loops
#### 6.Practical Examples and Common Errors

# Let's Start

In [ ]:
# for loop
#### For Loop is a loop it is used to iterate a sequence of numbers

for i in range(5):    # range(5) mean range(0,5) mean a sequence from 0-5 where 5 is not included
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1,6):   # the range usually takes three parameters (start,stop,step) by default step=1
    print(i)

1
2
3
4
5

In [5]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
# step =2
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
# i want all the numbers from 10 to 1
for i in range(10,1,-1):    # remember 1 is not included
    print(i)

10
9
8
7
6
5
4
3
2

In [7]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
# How to use for loop for string
str = "Shoaib M"

for i in str:
    print(i)

S
h
o
a
i
b

M

* If you have a collection of items or Numbers then you can easily traverse through it using **for loop**

## While Loop

* while loop continue to execute as long as the condition is true. Whatever the condition we are writing in while loop

In [ ]:
## While Loop 
# while loop continue to execute as long as the condition is true. What
# ever the condition we are writing in while loop

In [9]:
count =0
while count<5:
    print(count)
    count= count + 1

0
1
2
3
4

In [10]:
count =0
while count%2==0:
    print(count)
    count +=1

0

In [ ]:
## Loop Control Statement

## break
### The break exits the loop statement permaturely

for i in range(10):
    if i ==5:
        break       # to come out from the entire loop we use break statement
    print(i)

0
1
2
3
4

In [12]:
## continue

## Continue statement skips the current iteration and continues with the next.
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [14]:
## pass
#### The pass statement is a null opearation; it does nothing

for i in range(6):
    if i==3:
        print('this value is going to pass')
        pass
    else:
        print(i)

0
1
2
this value is going to pass
4
5

# Nested Loops

In [16]:
## Nested loops 
### Mean a loop inside another loop

for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

# **Practice Multiple Things**

In [15]:
# Q1 Calculate the sum of first N natural number using a while Loop
n= int(input("Enter a natual number: "))
count =1
sum=0
while count<=n:
    sum +=count
    count=count+1
print(f"The sum of first {n} number is: ",sum)

The sum of first 3 number is:  6

In [25]:
# let's do the same thing with the help of for loop
n = 5
sum =0
for i in range(1,n+1):
    sum =sum+i
print(sum)

15

In [16]:
# sum of first n natural number  with using loop
n=4
n*(n+1)//2

10

In [ ]:
## Write a code whether a given number is a prime number

n = 3

15

In [ ]:
## Write a code to identify the prime number b/w 1,101

for i in range(1,101):
    if i%2==0:
        continue

##### Prime Number 
* These are that number which are divisible by 1, or the number itself

In [29]:

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [32]:
for num in range(1,101):
    if num>1:
        for j in range(2,num):
            if num%j ==0:
                break
        else:
            print(num," is Prime")

2  is Prime
3  is Prime
5  is Prime
7  is Prime
11  is Prime
13  is Prime
17  is Prime
19  is Prime
23  is Prime
29  is Prime
31  is Prime
37  is Prime
41  is Prime
43  is Prime
47  is Prime
53  is Prime
59  is Prime
61  is Prime
67  is Prime
71  is Prime
73  is Prime
79  is Prime
83  is Prime
89  is Prime
97  is Prime