# **Tasks**

###### Write a code for this pattern
##### * 
##### **
##### ***
##### ****

In [9]:
rows = int(input("enter number of rows: "))
for i in range(1,rows+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***

#### Pattern 
1

121

12321

1234321

In [22]:
# task simple one 
for i in range(1,4+1):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
    print()

1
121
12321
1234321

# **Strings**

* In programmming language text are called as strings

* Strings are basically a collection of characters

* **In Python** Strings are a sequence of a unicode characters

##### Before you understand Unicode character 
#### ASCII vs Unicode
* At begining the computer are 8-bit value(maximum of 256 bit u can use) computer means, to store eacch character. The problem is it is very small range, that's why you can store less character in your computer. by the time people realize that people english is not the only language where people want to talk or communicate. Then ASCII fails because it is based on 8-bit. Then people come up with 16-bit (mean 2 power 16 bit of information). Here people store alot of information. That's how unicode came up with and solve the problem of ASCII.

#### For now just remember that python characters are unicode characters

### **Outlines of Strings**

1. Creating Strings
2. Accessing Strings
3. Adding Chars to Strings
4. Editing Strings 
5. Deleting Strings 
6. Operations on Strings 
7. String Functions

### **1-Creating Strings**

In [32]:
### first method is using single inverted quotes
s = 'Shoaib'
print(s)
print(type(s))

### Use can also use double inverted comma or quotes
s = "shoaib"
print(s)
print(type(s))

### you can also use triple inverted commas or quotes
s = '''Shoaib Muhammad'''
print(s)
print(type(s))

### Another technique is to use str() function
s = str("I am shoaib Muhammad")
print(s)
print(type(s))

Shoaib
<class 'str'>
shoaib
<class 'str'>
Shoaib Muhammad
<class 'str'>
I am shoaib Muhammad
<class 'str'>

* Their is a reason of three different techniques because if you have this sentence given below:
* **That's is a good approach** = Here you can't use a single inverted comma

In [30]:
string = "That's how u can see "   # here single inverted comma cannot use because it contain in the sentence
print(string)

string = """ Ahmad says that's how "Might is right" """  # here u can't use single or double inverted comma

print(string)

That's how u can see
 Ahmad says that's how "Might is right"

### **2-Accessing substring from string**

##### Accessing string can be done through **Indexing**
**Indexing has two types**
1. Positive Indexing
2. Negative Indexing

Through indexing we can get only a **single character**

In [ ]:
# Positive Indexing --> Python by default assign index to each character you u create string. 
#                       In positive indexing it start from left to right from 0 
s = "Hello World"

# you can access each character
print(s[0])   # to get H
print(s[9])
# print(s[11])   # it give you can error the index value is not found

H
l

In [38]:
# Negative Indexing --> from right to left start from -1

print(s[-1])   # to print the last element
print(s[-2])   # to print the 2nd last element

d
l

#### To get multiple character we use **Slicing.**

* In slicing you can extract multiple character at a single time

In [40]:
s = "Hello World"

## to get "Hello" onlly
print(s[0:5])

Hello

In [51]:
print(s[:3])
print(s[-3:])
print(s[2:3])

Hel
rld
l

In [57]:
# to jump two character 
print(s[1:8:2])
print(s[-6:-1:2])

el o
 ol

In [59]:
## to reverse the given string
print(s[::-1])

dlroW olleH

### Python String are **Immutable**, once it is defined it cannot be changed

In [61]:
s="Hello"
s[1]='4'     # because python string are immutable

TypeError: 'str' object does not support item assignment

### 5-Deleting a String

In [62]:
s = "Shoaib Muhammad"
del s

In [ ]:
print(s)   # because string s is deleted

NameError: name 's' is not defined

### 6- Operations on Strings

**These Operations can be applied on Strings**
* Arthematic Operations
* Relational Operations
* Logical Operations
* Loops on Strings
* Membership Operations

#### Arthematic Operator (+,x)

In [64]:
# Python strings can work on two Arthematic Operations (+, x)

first_name = "Shoaib"
last_name = "Muhammad"

## Concatination
full_name = first_name + " " + last_name
print(full_name)

Shoaib Muhammad

In [ ]:
## Multiplication operation on string
print(first_name * 5)   # it repeat five times

ShoaibShoaibShoaibShoaibShoaib

In [66]:
## It can be useful for pattern like 
print("*"*50)

**************************************************

#### Relational Operator (work all <,>,<=,>=)

In [67]:
'peshawar' !='karachi'

True

In [68]:
'chitral'>'peshawar'

False

### **Here the strings are compared *lexiographically***

#### Logical Operator on string (**it can be asked on interviews**)

In [ ]:
"hello" and "world"    # python consider emtpy string "False" and string having character "True"

'world'

In [70]:
"" and "world"   # It return emtpy string because it is "False" in and opertor only true return if both has true

''

In [71]:
"" or "s"  # it return s because of or operator it need a single "True"

's'

### 6-Loop on Strings

##### String in  Python are Iterable because of it loop can iterate over it

In [72]:
for i in "Hello":
    print(i)

H
e
l
l
o

### 7-Membership Operator

In [74]:
"s" in "shoaib"

True

In [75]:
"sho" in "shoaib"

True

In [76]:
"shop" in "shoaib"

False

## String Common Functions

* len
* max
* min
* sorted

##### Two types of Functions
1. **Common Functions**   (It can be applied on anything on list, tuple, string, dictionary etc)
2. **Function only work in Strings**

In [ ]:
## common function
len("Shoaib Muhammad")    # it can also include space as well

15

In [78]:
max("Shoaib Muhammad")   # get max character based on ASCII value

'u'

In [79]:
min("Shoaib Muhammad")

' '

In [81]:
sorted("Shoab Muhammad")    # the result will be a list aranged in ascending order if you want in descending then pass reverse =True

[' ', 'M', 'S', 'a', 'a', 'a', 'b', 'd', 'h', 'h', 'm', 'm', 'o', 'u']

In [82]:
sorted("shoaib",reverse=True)

['s', 'o', 'i', 'h', 'b', 'a']

### Function only For **Strings**

* **Capitalize/Title/Upper/Lower/Swapcase**

In [85]:
s = "shoaib Muhammad"

print(s.capitalize())   # it convert your sentence first character into capital

print(s.title())     # capitalize each first letter  of each word

print(s.upper())     # cappitalize all the characters

print(s.lower())     # convert the character in to lower case

print(s.swapcase())   # It convert the capital letter to lower and vice versa

Shoaib muhammad
Shoaib Muhammad
SHOAIB MUHAMMAD
shoaib muhammad
SHOAIB mUHAMMAD

* Count/Find/Index

In [ ]:
s = "This is Shoaib"
print(s.count('s'))     # to count the frequency of a given item in a sting

s.find('is')     # to find an index of an element

2

2

In [94]:
s.index('b')

13

* endswith/startswith

In [97]:
'my name is shoaib'.endswith('sho')

False

In [98]:
'my name'.startswith('mys')

False

* format

In [99]:
name ='shoaib'
age = 23

'My name is {} and age is {}'.format(name,age)

'My name is shoaib and age is 23'

* isalnum/isalpha/isdigit/isidentifier

In [100]:
# to check alphaneumeric

'shoaib1223'.isalnum()

True

In [101]:
'shoaib'.isalpha()

True

In [104]:
'123'.isnumeric()

True

In [105]:
'123'.isdigit()

True

In [106]:
'first_name'.isidentifier()

True

#### Split / join

In [ ]:
first_sentence = "Hi  I am shoaib and I am a student"

first_sentence.split()   # it split the sentence on the basis of space by default

['Hi', 'I', 'am', 'shoaib', 'and', 'I', 'am', 'a', 'student']

In [108]:
## join 

# it is the opposite of split it rejoin the spliteed text
' '.join(['Hi', 'I', 'am', 'shoaib', 'and', 'I', 'am', 'a', 'student'])

'Hi I am shoaib and I am a student'

In [109]:
'Hi I am shoaib and I am a student'.replace('shoaib','Ahmad')

'Hi I am Ahmad and I am a student'

* Strip

In [114]:
'shoaib Muhammad       '.strip()    # it remove the extra spaces

'shoaib Muhammad'